Flask
gdown  # Needed if you're downloading models from Google Drive.
torch  # Essential for your deep learning model.
torchvision  # Usually required alongside PyTorch for image transformations.
Pillow  # Important for image processing, used by torchvision.
numpy  # Likely used in your model or data processing.
lmdb
natsort
